<h1>Mail Reader::Mails</h1>


<% form_tag(:controller => "messages", :action => :get_mail) do %>

  <%#= text_area_tag(:mail_from) %>

	<%#= text_area_tag(:search_terms) %>

<p>Account: <br /><br />
<%= select("username","id", @accounts.map {|u| [u.username,u.id]}) %>
</p>
  <%= submit_tag("Get Mail") %>
<% end %>

