
<h1>Mail Reader::Home</h1>


    <%=h link_to_remote  "Check Mails", :url => { :controller => "messages", :action => :eval} %>  
	<%=h link_to_remote  "Add Account and Terms", :url => { :controller => "accounts", :action => :ajaxify_index } %>  
	

	<br />
	<br />
	<div id="message"> </div>
	<br />
	<br />
	<br />


    <div id="update"> </div>


