
<h1>Mail Reader::Home</h1>



    <p><%= link_to 'Check Mails', :controller => "messages" %> </p>
    <p><%= link_to 'Add Terms', :controller => "terms" %></p>
    <p><%= link_to 'Add Account', :controller => "accounts" %></p>
