
<h1>Mail Reader::Home</h1>



    <p><%= link_to 'Check Mails', :controller => "messages" %> </p>
    <p><%= link_to 'Search', :controller => "messages", :action => :search %></p>
    <p><%= link_to 'Add Account', :controller => "accounts" %></p>
    <p><%= link_to 'Cron', :controller => "messages", :action => :cron %></p>